<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="container body-content">
        <p>View jobs by:</p>
        <ul>
            <li th:each="action : ${actions}">
                <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
            </li>
        </ul>
    </div>

    <div  th:fragment="search-results">

        <table class="job-listing" th:each="job : ${jobs}">
            <tr th:each="entry : ${job}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>

        </table>

    </div>


</body>
</html>